<table id="abon-types" class='table'>
    <thead>
        <tr>
            <th>id</th>
            <th>название</th>
            <th>цена</th>
            <th>количество занятий</th>
            <th>продолжительность</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="at in abon_types">
            <td>{{at.id}}</td>
            <td>{{at.name}}</td>
            <td>{{at.price}}</td>
            <td>{{at.lessons}}</td>
            <td>{{at.weeks}} недель</td>
        </tr>
    </tbody>
</table>


<script src="/js/admin/abon-types.js"></script>