<div id="group-page">
    <form class="form-horizontal col-md-6" @submit="submitAddForm">
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="">Добавить группу</label>  
                <div class="col-md-4">
                    <input v-model="title" type="text" placeholder="Название группы" class="form-control input-md">
                </div>
                <div class="col-md-4">
                    <button id="" name="" class="btn btn-primary">Сохранить</button>
                </div>
            </div>

            </fieldset>
        </form> 
    <table id="groups" class='table'>
        <thead>
            <tr>
                <th>id</th>
                <th>название</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="group in groups">
                <td>{{group.id}}</td>
                <td>
                    <a href='/admin/groups/{{group.id}}'>
                        {{group.title}}
                    </a>
                </td>
                <td>
                    <a @click="del(group.id)">удалить</a>
                <td/>
            </tr>
        </tbody>
    </table>
</div>

<script src="/js/admin/groups.js"></script>