<div class="ui container">
    <h3>Page</h3>
    <form class="ui form">
        <div class="field">
            <label>Slug</label>
            <input type='text' required name="slug"></input>
        </div>
    </form>
</div>